[DeviceConfiguration]

# SPINE device name
SpineDevice                  =      d:_i:47859_KEO-SimpleDeviceClient

# SHIP id
ShipId                       =      SimpleDeviceClient

# SHIP discovery (mdns)
InstanceName                 =      SimpleDeviceClient
DeviceBrand                  =      devicebrand
DeviceModel                  =      devicemodel
DeviceType                   =      devicetype

# SHIP server settings
ConnectionHost               =      0.0.0.0
ConnectionPort               =      16369

# SHIP trust store settings
CertificateFullFilename      =      client_prime256v1CertDER.bin
PrivateKeyFullFilename       =      client_prime256v1KeyDER.bin
TruststoreFullFilename       =      client.truststore.json
