llama-index>=0.11.0
llama-index-llms-gemini>=0.3.0
llama-index-embeddings-huggingface>=0.3.0
llama-index-vector-stores-chroma>=0.3.0
chromadb>=0.5.0
pypdf>=4.0.0
python-dotenv>=1.0.0
gradio>=4.0.0
google-generativeai>=0.8.0
llama-index-llms-openai>=0.1.5
llama-index-llms-anthropic>=0.1.5
llama-index-readers-file>=0.2.0
rank-bm25>=0.2.2
llama-index-retrievers-bm25>=0.7.0
bm25s>=0.3.0
xmlschema>=3.4.0
