## Easylogging configuration

-- example_server
* GLOBAL:
     FORMAT                  =   "[%logger] %datetime %level %fbase : %msg"
     ENABLED                 =   true
     FILENAME                =   "/var/lib/keo_spine/framework/example_server.log"
     TO_FILE                 =   true
     TO_STANDARD_OUTPUT      =   true
* DEBUG:
     ENABLED                 =   true
* WARNING:
     ENABLED                 =   true
* TRACE:
     ENABLED                 =   true
* VERBOSE:
     ENABLED                 =   true
     FORMAT                  =   "[%logger] %datetime %level-%vlevel %fbase : %msg"
* ERROR:
     ENABLED                 =   true
* FATAL:
     ENABLED                 =   true
* INFO:
     ENABLED                 =   true

-- keo_spine
* GLOBAL:
     FORMAT                  =   "[%logger] %datetime %level %fbase : %msg"
     TO_FILE                 =   true
     FILENAME                =   "/var/lib/keo_spine/framework/example_server.log"
     TO_STANDARD_OUTPUT      =   true
* DEBUG:
     ENABLED                 =   true
* WARNING:
     ENABLED                 =   true
* TRACE:
     ENABLED                 =   true
     FORMAT                  = "[%logger] %datetime %level %fbase : %msg"
* VERBOSE:
     ENABLED                 =   true
     FORMAT                  =   "[%logger] %datetime %level-%vlevel : %msg"
* ERROR:
     ENABLED                 =   true
* FATAL:
     ENABLED                 =   true
* INFO:
     ENABLED                 =   true