[DeviceConfiguration]

# SPINE device name
SpineDevice                  =      d:_i:47859_KEO-SimpleDeviceServer

# SHIP id
ShipId                       =      SimpleDeviceServer

# SHIP discovery (mdns)
InstanceName                 =      SimpleDeviceServer
DeviceBrand                  =      devicebrand
DeviceModel                  =      devicemodel
DeviceType                   =      devicetype

# SHIP server settings
ConnectionHost               =      0.0.0.0
ConnectionPort               =      16368

# SHIP trust store settings
CertificateFullFilename      =      server_prime256v1CertDER.bin
PrivateKeyFullFilename       =      server_prime256v1KeyDER.bin
TruststoreFullFilename       =      server.truststore.json
