## Easylogging configuration
-- default
* GLOBAL:
     FORMAT = "[%logger] %datetime %level : %msg"
     TO_STANDARD_OUTPUT = false
     TO_FILE = false
     FILENAME = /tmp/example-client.log
* DEBUG:
     ENABLED = true
* WARNING:
     ENABLED = true
* TRACE:
     ENABLED = true
* VERBOSE:
     ENABLED = true
     FORMAT  = "[%logger] %datetime %level-%vlevel : %msg"
* ERROR:
     ENABLED = true
* FATAL:
     ENABLED = true
* INFO:
     ENABLED = true

-- keo_spine
* GLOBAL:
     FORMAT  = "[%logger] %datetime %level : %msg"
     TO_STANDARD_OUTPUT = true
     TO_FILE = false
     FILENAME = /tmp/example-client.log     
* DEBUG:
     ENABLED = true
* WARNING:
     ENABLED = true
* TRACE:
     ENABLED = true
* VERBOSE:
     ENABLED = true
     FORMAT  = "[%logger] %datetime %level-%vlevel : %msg"
* ERROR:
     ENABLED = true
* FATAL:
     ENABLED = true
* INFO:
     ENABLED = true

-- example_client
* GLOBAL:
     FORMAT  = "[%logger] %datetime %level : %msg"
     TO_STANDARD_OUTPUT = true
     TO_FILE = false
     FILENAME = /tmp/example-client.log     
* DEBUG:
     ENABLED = true
* WARNING:
     ENABLED = true
* TRACE:
     ENABLED = true
* VERBOSE:
     ENABLED = true
     FORMAT  = "[%logger] %datetime %level-%vlevel : %msg"
* ERROR:
     ENABLED = true
* FATAL:
     ENABLED = true
* INFO:
     ENABLED = true
